<!--<label> Search: <input ng-model="searchTextList"></label>-->
<!--<br>-->
<!--<br>-->
<!--<input ng-repeat="art in art" type="button" value={{art}} ng-click="setSearchText('filter1', art)">-->
<!--<input type="button" value=Reset ng-click="setSearchText('filter1', '')">-->
<!--<br>-->
<!--<br>-->
<!--<input ng-repeat="grad in schwierigkeitsgrad" type="button" value={{grad}} ng-click="setSearchText('filter2', grad)">-->
<!--<input type="button" value=Reset ng-click="setSearchText('filter2', '')">-->
<!--<br>-->

<div class="app-liste-header">
  <h2 class="h2 text-center m-4">
    {{rezeptListe?.length}} Rezepte gefunden
  </h2>
  <div class="border m-3 border-dark">
    <br>
    <br>
    <br>
    FILTER / SUCHEKRITERIEN
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<ul class="list-group app-liste-ul">
  <!--<li class="item_list_li" *ngFor="let item of rezeptListe | filter:searchTextList | filter:searchText1 | filter:searchText2" ng-click="openView('/rezept/' +item.id)">-->
  <li class="m-1 rounded app-liste-item border border-muted" *ngFor="let item of rezeptListe"
      (click)="selectRezept(item._id)"
      (dblclick)="editRezept(item._id)"
      [ngClass]="{'bg-primary border-primary ' : item.selected}">
    <img class="app-liste-image float-left mr-3 rounded" src="../../assets/images/Risotto_Tomaten.jpg"
         alt="Smiley face"><!--ng-src="assets/images/{{item.bildsrc}}-->
    <h5 class="">{{item.titel}}</h5>
    <div class="">{{item.beschreibung}}</div>
    <div class="row mt-3">
      <div class="mr-4">{{item.zeit}} min </div>
      <div class="mr-4">{{item.kalorien}} kcal </div>
      <div class="">{{item.art}}</div>
    </div>
  </li>
</ul>
