<div class="app-liste-header">
  <h2 class="h2 text-center m-4">
    {{rezeptListe?.length}} Rezepte gefunden
  </h2>
  <div class="border m-3 border-dark">
    <br>
    SUCHE
    <br>
    <input matInput [(ngModel)]="searchInputText" type="text" placeholder="Titel/Beschreibung/Zutat">
    <input matInput [(ngModel)]="searchInputZeit" type="tel" placeholder="Zeit">
    <mat-form-field>
      <mat-label>Art</mat-label>
      <mat-select [(ngModel)]="searchInputArt">
        <mat-option *ngFor="let option of optionsArt" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
      <button appClickStopPropagation mat-button *ngIf="searchInputArt" matSuffix mat-icon-button aria-label="Clear"
              (click)="clearArt()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <button (click)="searchRezept()"> SUCHEN</button>
  </div>
</div>
<mat-spinner *ngIf="isLoading?.isLoading"></mat-spinner>
<div *ngIf="!isLoading?.isLoading">
  <ul class="list-group no-list-type">
    <li class="m-1 rounded app-liste-item border border-muted" *ngFor="let rezept of rezeptListe"
        (click)="openRezept(rezept.id)"
        [ngClass]="{'bg-primary border-primary ' : rezept.selected}">
      <h5 class="">{{rezept.titel}}</h5>
      <div class="">{{rezept.beschreibung}}</div>
      <div class="row mt-3">
        <div class="mr-4">{{rezept.zeit}} min</div>
        <div class="mr-4">{{rezept.aktiveZeit}} min</div>
        <div class="mr-4">{{rezept.naehrwerte.kalorien}} kcal</div>
        <div class="">{{rezept.art}}</div>
      </div>
    </li>
  </ul>
</div>
