.app-detail-image {
  height: 10rem;
}

.app-anzahl-personen {
  max-width: 10%
}

.zubereitung {
  min-height: 15em;
}

#naehrwerte {
  color: inherit;
}

li > span {
  float: right;
}

mat-spinner {
  margin: auto;
}

.home-image {
  height: 200px;
}

.home-image img {
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#RezeptDetailButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
