.app-detail-image {
  height: 10rem;
}

.app-anzahl-personen {
  max-width: 10%
}

.zubereitung {
  min-height: 15em;
}

#naehrwerte{
  color:inherit;
}

li > span {
  float:right;
}

/*#detail_content {*/
  /*min-height: 750px;*/
/*}*/
