<div>
  <form novalidate (ngSubmit)="saveRezept(rezept)" #rezepteForm="ngForm" class="form_erfassen form-group"
        name="form_erfassen"
        (ngSubmit)="saveRezept(rezept)">
    <div class="form-group">
      <label class="col-form-label">Titel</label>
      <input type="text" class="form-control" id="titel" name="titel" #title="ngModel" [(ngModel)]="rezept.titel"
             required minlength="5"
             placeholder="Titel">
      <div *ngIf="!title.control.valid && title.control.touched" class="alert alert-danger">
        <div *ngIf="title.control.hasError('required')">
          Der Titel ist erforderlich
        </div>
        <div *ngIf="title.control.hasError('minlength')">
          Der Titel muss mindestens {{title.control.getError('minlength').requiredLength}} Zeichen haben
        </div>
      </div>
    </div>


    <div class="form-group">
      <label class="col-form-label">Beschreibung</label>
      <input appClearField type="textarea" class="form-control" id="beschreibung" name="beschreibung" #beschreibung="ngModel"
             [(ngModel)]="rezept.beschreibung" required placeholder="Beschreibung">
      <div *ngIf="!beschreibung.control.valid && beschreibung.control.touched" class="alert alert-danger">
        <div *ngIf="beschreibung.control.hasError('required')">
          Die Beschreibung ist erforderlich
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Anzahl Personen</label>
      <input type="text" class="form-control" id="zutatenAnzahl" name="zutatenAnzahl"
             [(ngModel)]="rezept.zutatenAnzahl" required>
    </div>
    <div class="form-group">
      <label>Kalorien</label>
      <input type="text" class="form-control" id="kalorien" name="kalorien" [(ngModel)]="rezept.kalorien"
             required>
    </div>
    <div class="form-group">
      <label class="">Schwierigkeitsgrad</label>
      <select name="schwireigkeitsgrad" [(ngModel)]="rezept.schwierigkeitsgrad" class="form-control">
        <option value="">--- Bitte auswählen ---</option>
        <option *ngFor="let grad of model.schwierigkeitsgrad" class="" [ngValue]="grad">
          {{grad.value}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label class="">WEISS NOCH NICHT</label>
      <input type="checkbox" name="weissnochnicht" [(ngModel)]="rezept.weissnochnicht">
      Weiss noch nicht
    </div>
    <div class="radio" *ngFor="let art of model.art">
      <label>
        <input type="radio" name="art" [(ngModel)]="rezept.art" [value]="art">
        {{art.value}}
      </label>
    </div>
    <div class="form-group">
      <label class="">Zeit</label>
      <input type="text" class="form-control" id="zeit" name="zeit" [(ngModel)]="rezept.zeit"
             required>
    </div>
    <div class="form-group">
      <label>Zubereitung</label>
      <textarea class="form-control zubereitung" id="zubereitung2" name="zubereitung"
                [(ngModel)]="rezept.zubereitung"
                required></textarea>
    </div>
    <div class="form-group">
      <label>Art</label>
      <select class="form-control" id="art" name="art" [(ngModel)]="rezept.art" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div id="zutaten">
      <label>ZUTATEN</label>
      <br>
      <div *ngFor="let element of rezept.zutaten; let i = index;">
        <label>Zutat {{i+1}}</label>
        <input type="button" class="btn btn-secondary" value="Zutat löschen" (click)="removeZutat(i)">
        <br>
        <label>Menge</label>
        <input type="text" class="form-control" id="menge" name="menge"
               [(ngModel)]="element.menge"
               required>
        <label>Einheit</label>
        <input type="text" class="form-control" id="einheit" name="einheit"
               [(ngModel)]="element.einheit"
               required>
        <label>Zutat</label>
        <input type="text" class="form-control" id="zutat" name="zutat"
               [(ngModel)]="element.zutat"
               required>
        <br>
      </div>
      <br>
      <input type="button" class="btn btn-secondary" value="Zutat hinzugüfen" (click)="addZutat()">
    </div>
    <br>
    <div class="form-group">
      <label>Image Filename</label>
      <input type="text" class="form-control" id="imageFilename" name="imageFilename"
             [(ngModel)]="rezept.imageFilename" readonly>
      <input type="file" class="form-control-file" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png"/>
    </div>
    <br>
    <input type="button" class="btn btn-primary" value="Speichern" id="speichern" (click)="saveRezept(rezept)">
    <br>
    <!--<input type="button" class="btn btn-secondary" value="Image Speichern" id="imageSpeichern"-->
    <!--(click)="saveImage('TEST')">-->
    <!--<br>-->
    <!--<input type="button" class="btn btn-secondary" value="Image holen" id="imageLaden" (click)="loadImage('TEST')">-->
  </form>
</div>
