<div class="m-3">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput type="text" formControlName="titel" placeholder="Titel">
      <mat-error *ngIf="formGroup.get('titel').invalid">Bitte tragen Sie einen Titel ein.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows=6 formControlName="beschreibung" placeholder="Beschreibung"></textarea>
      <mat-error *ngIf="formGroup.get('beschreibung').invalid">Bitte tragen Sie eine Beschreibung ein.</mat-error>
    </mat-form-field>
    <label>Art</label>
    <mat-form-field>
      <input matInput formControlName="art" type="text" placeholder="Art" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <button appClickStopPropagation mat-button *ngIf="formGroup.get('art')" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="clearArt()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="zeit" placeholder="Total Zeit in min">
      <mat-error *ngIf="formGroup.get('zeit').invalid">Bitte tragen Sie die benötigte Zeit ein.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="aktiveZeit" placeholder="Aktive Zeit in min">
      <mat-error *ngIf="formGroup.get('aktiveZeit').invalid">Bitte tragen Sie die benötigte Zeit ein.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows=6 formControlName="zubereitung" placeholder="Zubereitung"></textarea>
      <mat-error *ngIf="formGroup.get('zubereitung').invalid">Bitte tragen Sie die Zubereitung ein.</mat-error>
    </mat-form-field>
    <label>Zutaten:</label>
    <button matButton type="button" (click)="addEmptyZutat()">
      Zutat hinzufügen
    </button>
    <mat-form-field>
      <input matInput type="number" formControlName="anzahlPersonen" placeholder="Anzahl Personen">
      <mat-error *ngIf="formGroup.get('anzahlPersonen').invalid">Bitte tragen Sie die Anzahl der Personen ein.
      </mat-error>
    </mat-form-field>
    <div formArrayName="zutaten">
      <div *ngFor="let zutat of zutatenFormGroup.controls; let i = index">
        <div [formGroupName]="i">
          <label>Zutat {{i + 1}}</label>
          <button matButton type="button" (click)="removeZutat(i)">
            Zutat löschen
          </button>
          <mat-form-field>
            <input matInput type="number" formControlName="menge" placeholder="Menge">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName="einheit" placeholder="Einheit">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" formControlName="zutat" placeholder="Zutat">
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nährwerte
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="no-list-type no-padding">
          <li>
            <mat-form-field>
              <input matInput type="number" formControlName="kalorien" placeholder="Kalorien in kcal">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput type="number" formControlName="fett" placeholder="Fett">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput type="number" formControlName="eiweiss" placeholder="Eiweiss">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput type="number" formControlName="kohlenhydrate" placeholder="Kohlenhydrate">
            </mat-form-field>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Bild auswählen</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && formGroup.get('image').valid">
      <img [src]="imagePreview" [alt]="formGroup.value.title">
    </div>
    <br>
    <button *ngIf="!isLoading?.isLoading"
            mat-raised-button color="primary" id="speichern"
            (click)="saveRezept()">Speichern</button>
    <mat-spinner *ngIf="isLoading?.isLoading"></mat-spinner>
    <br>
  </form>
</div>
