<div (click)="openRezept(randomRezept.id)">
  <div>
    <h1 class="h1 text-center">
      Rezept-Empfehlung
    </h1>
  </div>
  <mat-spinner *ngIf="isLoading?.isLoading"></mat-spinner>
  <div *ngIf="!isLoading?.isLoading">
    <div class="text-center mt-4 mb-4">
      <h2>
        {{randomRezept?.titel}}
      </h2>
      <div *ngIf="randomRezept && randomRezept.imagePath && randomRezept.imagePath !== ''">
        <img [src]="randomRezept?.imagePath" [alt]="randomRezept?.titel" class="home-image">
      </div>
      <div class="mt-2" *ngIf="randomRezept?.zeit || randomRezept?.aktiveZeit">
        <span class="mr-3">
          <fa-icon [icon]="['far', 'clock']"></fa-icon>
          Zeit: {{randomRezept.zeit}} min
        </span>
        <span>
          <fa-icon [icon]="['far', 'clock']"></fa-icon>
          Aktive Zeit: {{randomRezept.aktiveZeit}} min
        </span>
      </div>
    </div>
  </div>
</div>
<div class="text-center spinner-m-top-md">
  <button mat-raised-button (click)="getNextRezept()">
    Nächstes Rezept
  </button>
</div>
