.app-zufaelliges-image {
  height: 30rem;
}

.h1 {
  color: darkorange;
}

mat-spinner {
  margin: auto;
}

.home-image {
  width: 75%;
}

.home-image img {
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.spinner-m-top-md {
  margin-top: 10px;
}
