<div>
  <div id="printArea">
    <h1>
      {{(rezept$ | async)?.titel}}
    </h1>
    <div>
      {{(rezept$ | async)?.beschreibung}}
    </div>
    <div>
      <h3>
        Anzahl Personen:
      </h3>
      <input id="gewuenschteAnzalPersonen" type="text" name="gewunschteAnzahlPersonen"
             [(ngModel)]="gewunschteAnzahlPersonen" ng-init="gewunschteAnzahlPersonen=1">
    </div>
    <br>
    {{(rezept$ | async)?.zutatenAnzahl}}
    <div *ngIf="(rezept$ | async)?.zutaten?.length > 0">
      <h3>
        Zutaten
      </h3>
      <ul>
        <li *ngFor="let zutat of (rezept$ | async)?.zutaten; let i = index;">
          <div>
            {{((gewunschteAnzahlPersonen)/((rezept$ | async)?.zutaten.length)) * (zutat?.menge)}}
            {{zutat?.einheit}}
            {{zutat?.zutat}}
          </div>
        </li>
      </ul>
    </div>
    <h3>
      Kalorien
    </h3>
    <div>
      {{(rezept$ | async)?.kalorien|number}}
    </div>
    <h3>
      Schwierigkeitsgrad
    </h3>
    <div>
      {{(rezept$ | async)?.schwierigkeitsgrad}}
    </div>
    <h3>
      Zeit
    </h3>
    <div>
      {{(rezept$ | async)?.zeit}} min
    </div>
    <h3>
      Zubereitung
    </h3>
    <div>
      {{(rezept$ | async)?.zubereitung}}
    </div>
    <h3>
      Art
    </h3>
    <div>
      {{(rezept$ | async)?.art}}
    </div>
  </div>
  <br>
  <br>
  <input type="button" value="DRUCKEN" (click)="printIt()">
  <input type="button" class="btn btn-secondary" value="LÖSCHEN" (click)="deleteRezept(rezept$)">
  <input type="button" value="BEARBEITEN" (click)="editRezept(rezept$)">
  <br>
  ({{(rezept$ | async)?._id}})
</div>
